 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 484px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 436px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 17px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 3px 0 0 15px;
}

.u-section-1 .u-text-3 {
  margin: 14px 173px 0 -158px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -23px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -21px 80px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  margin: 18px 88px 0 auto;
}

.u-section-1 .u-btn-5 {
  margin: -45px auto 0 83px;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  margin: 27px 156px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none none solid;
  margin: -26px auto 0 108px;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 398px;
  background-image: url("images/2131321.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 56px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    min-height: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-image-1 {
    min-height: 377px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-image-1 {
    min-height: 237px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-2 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 4px 0 0 15px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 13px 173px 0 -158px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: -23px auto 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: -21px 80px 0 auto;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  margin: 29px 6px 0 auto;
}

.u-section-2 .u-btn-9 {
  margin: -45px auto 0 26px;
  padding: 10px 42px 10px 41px;
}

.u-section-2 .u-btn-10 {
  border-style: none none solid;
  margin: 26px 120px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  border-style: none none solid;
  margin: -26px auto 0 97px;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 380px;
  background-image: url("images/Screenshot_1730.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 20px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 240px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-2 .u-image-1 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-2 .u-image-1 {
    min-height: 227px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 666px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 618px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 17px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 4px 0 0 15px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 13px 173px 0 -158px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: -23px auto 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: -21px 80px 0 auto;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  margin: 10px 9px 0 auto;
  padding: 10px 77px 10px 76px;
}

.u-section-3 .u-btn-7 {
  margin: -44px auto 0 29px;
  padding: 10px 71px 10px 70px;
}

.u-section-3 .u-btn-8 {
  margin: 13px 9px 0 auto;
  padding: 10px 43px 10px 42px;
}

.u-section-3 .u-btn-9 {
  margin: -44px auto 0 29px;
  padding: 10px 47px 10px 46px;
}

.u-section-3 .u-btn-10 {
  margin: 10px 9px 0 auto;
  padding: 10px 69px 10px 68px;
}

.u-section-3 .u-btn-11 {
  margin: -45px auto 0 29px;
  padding: 10px 62px;
}

.u-section-3 .u-text-6 {
  text-align: left;
  margin: 6px auto 0 130px;
}

.u-section-3 .u-text-7 {
  margin: -24px 76px 0 auto;
}

.u-section-3 .u-btn-12 {
  border-style: none none solid;
  margin: 0 auto 0 95px;
  padding: 0;
}

.u-section-3 .u-btn-13 {
  border-style: none none solid;
  margin: -26px 123px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 618px;
  background-image: url("images/Screenshot_1734.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-13 {
    margin-right: 23px;
  }

  .u-section-3 .u-image-1 {
    min-height: 510px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 99px;
  }

  .u-section-3 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-image-1 {
    min-height: 587px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-3 .u-image-1 {
    min-height: 370px;
  }
}