.u-section-1 .u-sheet-1 {
  min-height: 570px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: -36px 201px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 435px;
}

.u-section-1 .u-text-3 {
  margin: -45px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -72px 135px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -72px 19px 0 auto;
}

.u-section-1 .u-text-5 {
  text-align: start;
  margin-top: 47px;
  margin-bottom: 0;
  margin-left: 0;
  background-image: none;
}

.u-section-1 .u-text-6 {
  text-align: start;
  margin-top: -36px;
  margin-bottom: 0;
  margin-left: 570px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  text-align: center;
  margin: 0 auto 0 435px;
}

.u-section-1 .u-text-7 {
  text-align: start;
  margin: -45px auto 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  text-align: center;
  margin: -72px auto 0 1005px;
}

.u-section-1 .u-text-8 {
  text-align: start;
  margin: -45px auto 0 570px;
}

.u-section-1 .u-text-9 {
  margin: 114px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -40px;
    margin-left: 235px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -4px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 370px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 235px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 805px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 150px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 15px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 585px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 360px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 151px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 405px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-right: 95px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -100px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -12px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 85px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -43px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -77px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -25px;
    margin-bottom: 52px;
  }
}